@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap');

/* font-family: 'Quattrocento', serif;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Fanwood Text', serif; */
h1 {
  font-family: 'Quattrocento', serif;
  font-size: 460%;
  padding-left: 5em;
  margin-bottom: 0.5em;
  color: rgb(59, 27, 27);
  
}
h2 {
  font-family: 'Fanwood Text', serif;
  padding-left: 16.5em;
  padding-bottom: 2em;
  color: brown;
  font-size: 150%;
}
h3 {
  font-family: 'Fanwood Text', serif;
  color: brown;
  font-size: 200%;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:120%;
  color: rgb(59, 27, 27);
}
body {
    margin: 0;
    padding: 0;
    background-image: url(loco.jpg);
    background-attachment: fixed;
}

/*Sections*/
.intro {
  background-image: url(orna.png);
  background-repeat: no-repeat;
  background-size: 300px;
}
.summary p {
  font-style: italic;
  font-size:medium;
}
.summary p:first-child {
  width: 400px;
  position:absolute;
  right: 33em;
  top: 10em;
}
.summary p:last-child {
  width: 400px;
  position:absolute;
  right: 3em;
  top: 10em;
}
.preamble, .explanation {
  background-color:rgb(255, 227, 194, 0.7);
  border-top: 3px solid brown;
  text-align:left;
  height:300px;
}
.preamble {
float: left;
width: 50%;
margin-top: 12px;
padding-bottom: 2px;
}
.explanation {
float: left;
width:50%;
margin-top: 12px;
padding-bottom: 4px;
}
.explanation p {
  margin-left: 20px;
}
.explanation h3 {
  margin-left: 20px;
}
.preamble p {
  margin-left: 20px;
}
.preamble h3 {
  margin-left: 20px;
}
.participation {
  float: left;
  margin: 0;
  padding: 0;
  border-top: 3px solid rgb(172, 130, 130); 
  background-color:rgba(224, 170, 103, 0.6);
  background-image: url(rice.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}
.participation p {
  color: rgb(59, 27, 27);
  padding: 0;
  margin-left: 20px;
  width: 60%;
}
.participation h3 {
  margin-left: 20px;
}
.benefits {
  float: left;
  margin: 0;
  padding: 0;
  background-color:rgb(255, 227, 194, 0.7);
  border-top: 1px solid brown;
  background-image: url(money.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
}
.benefits h3 {
  margin-left: 30em;
}
.benefits p {
  padding: 0;
  width: 40%;
  margin-left: 50em;
}
.requirements {
float: left;
margin: 0;
padding: 0;
background-color:rgb(255, 227, 194, 0.7);
border-top: 1px solid rgb(172, 130, 130); 
}
.requirements p {
  padding: 0;
  width: 70%;
  margin-left: 100px;
}
.requirements h3 {
  margin-left: 100px;
}
a:link {
  color: rgb(173, 24, 24);
}
a:hover {
  color: purple; 
}
footer {
background-color: rgb(231, 219, 202, 0.6);
text-align: center;
font-weight: bold;
font-size: 140%;
border-bottom: 3px solid brown;
}

/* sidebar */
.design-selection {
  padding: 0;
  float:left;
  width: 33%;
  padding-top: 10px;
  background-color:rgb(255, 227, 194, 0.7);
  
}
.design-selection h3 {
  margin-left: 20px;
}
.zen-resources {
  padding: 0;
  width: 33%;
  float:left;
  background-color: rgb(255, 227, 194, 0.7);
}
.zen-resources h3 {
  margin-left: 20px;
}

.design-archives {
  padding: 0;
  width:33%;
  float: left;
  background-color:rgb(255, 227, 194, 0.7);
}
.design-archives h3 {
  margin-left: 20px;
}
li a:link {
  text-decoration: none;
}
ul {
  list-style-image: url(arrow.png);
}
