h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 300%;
    font-weight: bold;
}
h2 {
    font-family: 'Space Mono', monospace;
    font-size: 125%;
}
h3 {
    font-family: 'Trispace', sans-serif;
    font-style: italic;
    border-bottom: 2px dotted pink;
    text-shadow: 1px 1px 2px purple;
}
h3::first-letter {
    font-weight: bold;
}
p {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 85%;
    letter-spacing: 0.3;
}
body {
    margin: 0;
    padding: 0;
    background: url(valleymountain.jpg);
}
.page-wrapper {
    width: 801px;
    height: 201px;
    margin: 0 auto;
    padding: 0 0;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    background: url(purp.jpg) no-repeat;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    border-top-left-radius: 15px;
}
.summary p {
    font-style: oblique;
}
.summary {
    width: 780px;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 43px;
    height: 80px;
    padding: 10px;
    color: black;
    text-align:left; 
    position: relative;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.summary p:last-child {
    border-top: 1px solid black;
}
a:link {
    color: rgb(87, 27, 87);
}
footer a:link {
    color: rgb(255, 255, 255);  
}
a:hover {
    color:pink;
}
.preamble {
    position: relative;
    padding: 5px;
    height: 200px;
    width: 600px;
    background: rgba(245, 40, 235, 0.65);
    text-align: left;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}
.explanation {
    position: relative;
    padding: 5px;
    height: 200px;
    width: 600px;
    background: rgba(245, 40, 235, 0.65);
    text-align: left;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}
.participation {
    position: relative;
    padding: 5px;
    height: 250px;
    width: 600px;
    background: rgba(245, 40, 235, 0.65);
    text-align: left;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}
.benefits {
    position: relative;
    padding: 5px;
    height: 120px;
    width: 600px;
    background: rgba(245, 40, 235, 0.65);
    text-align: left;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}
.requirements {
    position: relative;
    padding: 5px;
    height: 380px;
    width: 600px;
    background: rgba(245, 40, 235, 0.65);
    text-align: left;
    border-left: 1px solid white;
}
footer {
    position:absolute;
	width:801px;
	background:rgba(232, 165, 82, 0.65);
    background: url(purp.jpg) no-repeat;
	border-top:white 1px solid;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 15px;
	color: #fff;
}
footer a:visited {
    color: gray;
}
footer a:hover {
    color:pink;
}

/* sidebar */
.design-selection {
    position: absolute;
    right: -2px;
    top: 301px;
    height: 397px;
    width: 191px;
    background: rgba(255, 244, 135, 0.6);
    border-right: 1px solid white;
    padding-top: 3px;
}
.design-selection h3 {
    border-bottom: 0;
}
.design-selection a:hover {
    color:rgb(102, 102, 211);
}
.zen-resources a:hover {
    color:rgb(102, 102, 211);
}
.design-archives a:hover {
    color:rgb(102, 102, 211);
}
ul {
    line-height: 1.4;
    list-style-image: url(arrow.png);
}
li a:link{
 text-decoration: none;
}
.design-archives {
    position: absolute;
    right: -2px;
    top: 701px;
    height: 147px;
    width: 191px;
    background: rgba(255, 244, 135, 0.6);
    border-right: 1px solid white;
    padding-top: 3px;
}
.zen-resources {
    position: absolute;
    right: -2px;
    top: 851px;
    height: 655px;
    width: 191px;
    background: rgba(255, 244, 135, 0.6);
    border-right: 1px solid white;
}
.design-archives h3 {
    border-bottom: 0;
}
.zen-resources h3 {
    border-bottom: 0;
}
