h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 300%;
    font-weight: bold;
}
h2 {
    font-family: 'Space Mono', monospace;
    font-size: 125%;
}
h3 {
    font-family: 'Trispace', sans-serif;
}
p {
    font-family: 'Schibsted Grotesk', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: url(valleymountain.jpg);
}
.page-wrapper {
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 800px;
    height: 200px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    text-align: left;
}
.summary {
    width: 860px;
    background: rgba(0, 0, 0, 0.6);
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    margin-top: 90px;
    color: white;
    text-align:left; 
    position: relative;
}
